.become-travel {
  padding-top: 150px;
  background-color: $white-color;
  padding-bottom: 150px;

  &__title {
    align-items: center;
    max-width: 50%;
  }
  &__list {
    margin-top: 95px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 23.5%;
    margin-right: 2%;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    font-size: 0;
    margin-bottom: 2%;
    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: $neptun-color;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover::before {
      opacity: 0.9;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover {
      .item__text {
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
  &__image {
    max-height: 100%;
    object-fit: cover;
  }
}

.item__text {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: $white-color;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 64px;
  padding-bottom: 54px;
  transform: translateY(150px);
  transition: transform 0.3s ease-in-out;
}
