.featured-stories {
  background-image: url("../img/featured/featured.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1080px;
  position: relative;
  &__stories {
    padding-top: 127px;
    padding-left: 8%;
    padding-right: 10%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35%;
    background-color: rgba(17, 31, 42, 0.9);
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.blog-article {
  padding-bottom: 105px;

  &__category {
    background-color: $orange-color;
    color: $white-color;
    padding: 15px 30px;
    border-radius: 100px;
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: $white-color;
    max-width: 40%;
    margin-bottom: 18px;
  }
  &__description {
    font-weight: 400;
    font-family: "SFCompact";
    font-size: 14px;
    line-height: 1.5;
    color: $white-color;
    margin-bottom: 40px;
    max-width: 40%;
  }
  &__link {
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white-color;
    background-color: $neptun-color;
    padding: 33px 80px;
    border-radius: 8px;
    display: inline-block;
  }
}
.stories__title {
  color: $white-color;
  margin-bottom: 64px;
}

.stories-list {
  &__article {
    border-bottom: 1px solid #4d5a5f;
    display: flex;
    align-items: flex-start;
    padding: 32px 0;
  }
  &__item:last-child {
    .stories-list__article {
      border-bottom: 1px solid transparent;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    color: $white-color;
    margin-bottom: 5px;
  }
  &_image {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__time {
    font-family: "SFProText";
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__text {
    margin-left: 32px;
    padding-right: 10px;
  }
}
