@mixin font($fname, $fstyle, $fweight, $furl1, $furl2) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl1) format("woff2"), url($furl2) format("woff");
  }
}

@include font(
  "Helvetica",
  normal,
  700,
  "../fonts/Helvetica/HelveticaNeue-Bold.woff2",
  "../fonts/Helvetica/HelveticaNeue-Bold.woff"
);
@include font(
  "Playfair",
  normal,
  400,
  "../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2",
  "../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff"
);
@include font(
  "SFCompact",
  normal,
  300,
  "../fonts/SFCompactText/SFCompactText-Light.woff2",
  "../fonts/SFCompactText/SFCompactText-Light.woff"
);
@include font(
  "SFCompact",
  normal,
  400,
  "../fonts/SFCompactText/SFCompactText-Regular.woff2",
  "../fonts/SFCompactText/SFCompactText-Regular.woff"
);
@include font(
  "SFProDisplay",
  normal,
  700,
  "../fonts/SFProDisplay/SFProDisplay-Bold.woff2",
  "../fonts/SFProDisplay/SFProDisplay-Bold.woff"
);
@include font(
  "SFProDisplay",
  normal,
  800,
  "../fonts/SFProDisplay/SFProDisplay-Heavy.woff2",
  "../fonts/SFProDisplay/SFProDisplay-Heavy.woff"
);
@include font(
  "SFProDisplay",
  normal,
  500,
  "../fonts/SFProDisplay/SFProDisplay-Medium.woff2",
  "../fonts/SFProDisplay/SFProDisplay-Medium.woff"
);
@include font(
  "SFProText",
  normal,
  400,
  "../fonts/SFProText/SFProText-Regular.woff2",
  "../fonts/SFProText/SFProText-Regular.woff"
);
