.footer {
  border-top: 1px solid #d9d9d9;
  padding-top: 123px;
  &__title {
    position: relative;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2.15px;
    text-transform: uppercase;
    color: #100e0b;
    padding-bottom: 35px;
    margin-bottom: 35px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background: #57a773;
      width: 48px;
      height: 1px;
    }
  }
  &__container {
    justify-content: space-between;
    display: flex;
  }
  &__link {
    font-weight: 500;
    font-size: 13px;
    color: #959ea6;
    display: inline-block;
    margin-bottom: 12px;
    transition: color 0.3s;
    &:hover {
      color: #666e75;
      transition: color 0.3s;
    }
  }
  &__bottom {
    border-top: 1px solid #d9d9d9;
    margin-top: 117px;
    padding: 30px 0;
  }

  &__copy {
    font-size: 13px;
    color: #959ea6;
  }
  &__links {
    display: flex;
  }
  &__links-item {
    margin-left: 35px;
  }
}

.subs-form {
  width: 368px;

  &__field {
    width: 100%;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    padding-left: 31px;
    background-image: url("../img/footer/user.svg");
    background-position: calc(100% - 31px) center;
    background-repeat: no-repeat;
  }

  &__btn {
    text-align: center;
    width: 100%;
    background-color: $neptun-color;
    line-height: 0;
    height: 64px;
    margin-top: 16px;
    transition: background-color 0.3s;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
    color: $white-color;
    padding: 33px 80px;
    &:hover {
      background-color: $neptun-hover-color;
      transition: background-color 0.3s;
    }
  }
}

.bottom-container {
  justify-content: space-between;
  display: flex;
}
