html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "SFProDisplay";
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}
.container {
  max-width: 1626px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
.site-container {
  overflow: hidden;
}
.section-title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  &_color_white {
    color: $white-color;
  }
  &_center {
    text-align: center;
  }
}

.btn {
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-transform: uppercase;
  border-radius: 8px;
  color: $white-color;
  padding: 33px 80px;
}
