.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.burger {
  width: 48px;
  height: 10px;
  position: relative;

  &__line {
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $white-color;
    &:last-child {
      top: auto;
      bottom: 0;
    }
  }
}

.logo {
  font-weight: 800;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
  color: $white-color;
  text-transform: uppercase;
}
.messenger {
  display: flex;
  align-items: center;
  &__item:last-child {
    margin-left: 40px;
  }
  &__link {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &--facebook {
      background-image: url("../img/header/facebook.svg");
      width: 11px;
      height: 20px;
    }
    &--twit {
      background-image: url("../img/header/twitter.svg");
      width: 20px;
      height: 16.31px;
    }
  }
}
