.inspiration {
  padding-top: 95px;
  padding-bottom: 140px;

  &__descr {
    text-align: center;
    margin: 0 auto;
    max-width: 635px;
    font-family: "SFCompact";
    font-size: 16px;
    line-height: 1.5;
    color: #788692;
    margin-bottom: 95px;
  }
  &__title {
    max-width: none;
    margin-bottom: 25px;
  }
  &__insp-list {
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(500px, auto);
  }
}
.insp-list {
  &__item {
    position: relative;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 65%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 50%,
        rgba(0, 0, 0, 0.647277) 100%
      );
    }
    &--bigw {
      grid-column-end: span 2;
    }
    &--bigh {
      height: 710px;
    }
  }
  &__item-1 {
    background-image: url("../img/inspiration/insp-1.png");
  }
  &__item-2 {
    background-image: url("../img/inspiration/insp-2.png");
  }
  &__item-3 {
    background-image: url("../img/inspiration/insp-3.png");
  }
  &__item-4 {
    background-image: url("../img/inspiration/insp-4.png");
  }
  &__item-5 {
    background-image: url("../img/inspiration/insp-5.png");
  }
  &__item-6 {
    background-image: url("../img/inspiration/insp-6.png");
  }
  &__item-7 {
    background-image: url("../img/inspiration/insp-7.png");
  }
}

.insp-item {
  &__text {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    padding: 0 40px;
    padding-bottom: 47px;
  }
  &__category {
    color: $white-color;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 10px;
  }
  &__title {
    color: $white-color;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 40px;
  }
  &__people {
    display: flex;
  }
  &__people-item {
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid $white-color;
    width: 48px;
    height: 48px;
    background-color: $white-color;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:first-child {
      z-index: 3;
    }
    &:not(:first-child) {
      margin-left: -15px;
    }
  }
}

.insp__play {
  background-image: url("../img/inspiration/play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 40px;
  top: 40px;
}
.grid {
  display: grid;
}
