@media (max-width: 1500px) {
  .featured-stories__stories {
    padding: 80px 60px;
  }
}

@media (max-width: 1200px) {
  .become-travel {
    &__title {
      max-width: 75%;
    }
    &__text {
      padding-left: 20px;
      padding-bottom: 30px;
    }
  }

  .featured-stories__stories {
    width: 45%;
  }

  .my-swiper .swiper-slide {
    width: 700px;
    min-height: 500px;
  }

  .newsletter {
    &__content {
      $newsletter-gap: 30px;
    }
    &__form {
      bottom: -31px;
    }
  }

  .subscribe-form {
    width: 400px;
    height: 350px;
  }
}

@media (max-width: 992px) {
  .become-travel__item {
    width: 39%;
    margin-right: 20%;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .my-swiper .swiper-slide {
    width: 550px;
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  .preview {
    &__title {
      max-width: 70%;
    }

    &__descr {
      max-width: 70%;
    }
    &__bottom {
      bottom: -2px;
    }
  }
  .search-form {
    width: 55%;
  }

  .become-travel__item {
    width: 48%;
    margin-right: 4%;
  }

  .featured-stories {
    height: auto;
    padding-top: 40px;
    &__stories {
      position: static;
      width: 100%;
      padding: 40px 60px;
    }
  }

  .my-swiper .swiper-slide {
    min-height: 350px;
  }

  .newsletter {
    &__form {
      left: 50%;
      transform: translateX(-50%);
      right: auto;
    }

    &__content {
      padding-top: 100px;
      padding-bottom: 400px;
    }
  }
  .inspiration {
    &insp__list {
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(400px, auto);
      width: 100%;
    }
  }

  .insp__list {
    &insp__item {
      height: auto;
      &--big {
        grid-column-end: 2;
      }
    }
  }

  .footer {
    &__container {
      flex-wrap: wrap;
    }

    &__column:last-child {
      margin-top: 30px;
    }

    &r__copy {
      max-width: 50%;
    }
  }
}
