.newsletter {
  padding-top: 52px;
  padding-bottom: 150px;
  position: relative;

  &__content {
    position: relative;
    border-radius: 8px;
    background-image: url("../img/newsletter/newsletter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 0 $newsletter-gap;
    padding-top: 338px;
    padding-bottom: 178px;
  }
  &__text {
    max-width: 370px;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__descr {
    font-family: SFCompact;
    font-weight: 410;
    font-style: 16px;
    line-height: 1.3;
    color: $white-color;
  }
  &__form {
    position: absolute;
    bottom: -96px;
    right: $newsletter-gap;
  }
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 501px;
  height: 416px;
  border-radius: 8px;
  padding-top: 53px;
  &__field {
    width: calc(100% - (72px * 2));
    border: none;
    border-bottom: 1px solid rgba(28, 46, 61, 0.3);
    padding: 25px 0;
    font-size: 11px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 2px;
    color: #1c2e3d;
    text-transform: uppercase;
  }
  &__btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 41px 80px;
    margin-top: 74px;
    width: 100%;
    background-color: $neptun-color;
  }
}
