.preview {
  height: 100vh;
  min-height: 660px;
  background-image: url("../img/preview/preview_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white-color;

  &__container {
    position: relative;
    height: 100%;
    padding-top: 223px;
    padding-bottom: 200px;
  }

  &__title {
    font-size: 80px;
    font-weight: 700;
    max-width: 40%;
    margin-bottom: 40px;
  }
  &__description {
    font-family: "SFCompact";
    font-size: 14px;
    font-weight: 400;
    max-width: 32%;
    margin-bottom: 59px;
  }
  &__link {
    background-color: $opacity-dark-blue;
    padding: 17px 30px;
    border-radius: 100px;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 40px;
  }
  &__bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% - 60px);
    display: flex;
    align-items: flex-end;
  }
  &__button {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 30px 80px;
    background-color: $orange-color;
    text-transform: uppercase;
    border-radius: 8px;
    color: $white-color;
    z-index: 5;
  }
}

.search-form {
  position: relative;
  flex-shrink: 0;
  width: 68%;
  overflow: hidden;
  border-top-left-radius: 4px;
  height: 120px;

  &__button {
    width: 18px;
    height: 18px;
    background-image: url("../img/preview/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 62px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__field {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    background-color: white;
    width: 100%;
    height: 100%;
    color: #1c2e3d;
    padding-left: 55px;
    padding-right: 90px;
  }
}
.slider {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 0;

  &__text {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: $neptun-color;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

@media (max-height: 1079px) {
  .preview__container {
    padding: 120px 30px;
  }
}

@media (max-height: 880px) {
  .preview__container {
    padding: 100px 30px;
  }

  .preview__link {
    margin-bottom: 30px;
  }

  .preview__title {
    font-size: 75px;
    line-height: 65px;
  }
}

@media (max-height: 780px) {
  .search-form {
    height: 80px;
  }

  .slider__text {
    height: 80px;
  }

  .preview__title {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 20px;
  }

  .preview__description {
    font-size: 12px;
    margin-bottom: 30px;
  }

  .preview__button {
    padding: 25px 40px;
    font-size: 10px;
  }
}
