.slider-container {
  overflow-x: hidden;
  padding: 100px 0;
  width: 100%;
  margin-top: 50px;
}

.my-swiper {
  .swiper-slide {
    max-height: 550px;
    position: relative;
    border-radius: 8px;
    min-height: 550px;
    width: 890px;
    transition: transform 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 60%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 50%,
        rgba(0, 0, 0, 0.461617) 100%
      );
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  .swiper-slide-active {
    transform: scaleX(1.16) scaleY(1.2);
    transition: transform 0.3s;
    &::after {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}
