.videos {
  padding-top: 150px;
  padding-bottom: 50px;

  &__title {
    max-width: none;
  }

  &__descr {
    text-align: center;
    margin: 0 auto;
    max-width: 650px;
    font-family: "SFCompact";
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #788692;
    margin-top: 26px;
  }
}
